# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.venv/
.env/

# Environment variable files
.env
.env.*

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Distribution / packaging
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
*.manifest
*.spec

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
coverage.xml
*.cover
.cache
nosetests.xml
pytest_cache/
.junit.xml

# Mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre
.pyre/

# Pylint
pylint-report.txt
pylint-global.txt

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VS Code and IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# macOS and Linux
.DS_Store
Thumbs.db
